@tailwind base;
@tailwind utilities;

[data-theme="light"] {
  --background: #F6F8FA;
  --foreground: #25292E;
  --interactable-background: #D1D9E0;
}

[data-theme="dark"] {
  --background: #0D1117;
  --foreground: #FFFFFF;
  --interactable-background: #3D444D;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Courier Prime", monospace;
}

button {
  background: var(--interactable-background);
}

.goodmark {
  font-family: "Courier Prime", monospace;
  font-size: 2rem;
}